body {
    padding-top: 5rem;
}

/* Create Properties */
h1 {
    margin-bottom: 30px;
}

form div {
    margin-bottom: 20px;
}

form div label {
    display: block;
    margin-bottom: 5px;
}

form div textarea {
    width: 100%;
    height: 150px;
}

span {
    padding-bottom: 20px;
}

.icon {
    height: 25px;
    margin-right: 5px;
}

.white {
    color: white;
}

/* Properties */
.location {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
}

.price {
    width: 40%;
    text-align: center;
    background-color: rgb(67, 161, 254);
    color: white;
    padding: 3px;
    border-radius: 20px;
    font-weight: 600;
}

.button {
    margin: 0;
    width: 100%;
    background-color: rgb(2, 86, 170);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

.button:hover {
    background-color: rgb(0, 68, 136);
    color: white;
}

/* Property */
.price-type {
    margin-top: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
}

.price-type .price2 {
    background-color: rgb(67, 161, 254);
}

.price-type .price2,
.price-type .type {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    font-weight: 600;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.price-type .type {
    background-color: rgb(207, 207, 38);
}

.btn-color {
    background-color: rgb(2, 161, 92);
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}
.btn-color:hover {
    background-color: rgb(0, 129, 72);
    color: white;
}