{% extends "base.html" %}

{% block css %}{% endblock %}

{% block main %}

    <h1>Property Details</h1>

    {% include 'flash_messages.html' %}

    <div class="row">
        <!-- Image on the left -->
        <div class="col-lg-6">
            <div class="view overlay">
                <img class="img-fluid" src="{{ property.photo }}" alt="{{ property.title }}">
            </div>
        </div>

        <!-- Text on the right -->
        <div class="col-lg-6">
            <h2 class="card-title">{{ property.title }}</h2>
            <div class="price-type">
                <span class="price2">${{ property.price }}</span>
                <span class="type">{{ property.propertyType }}</span>
            </div>
            <p>{{ property.description }}</p>
            <span>
                <img src="{{ url_for('static', filename='bed.png') }}" alt="Bed" class="icon">
                {{ property.noOfRooms }} Bedrooms
            </span>
            <span>
                <img src="{{ url_for('static', filename='shower.png') }}" alt="Bath" class="icon">
                {{ property.noOfBathrooms }} Bathrooms
            </span>
            <p class="location">
                <img src="{{ url_for('static', filename='location.png') }}" alt="Location" class="icon">
                {{ property.location }}
            </p>
            <a href="#?" class="btn btn-primary btn-color">Email Realtor</a>
        </div>
    </div>
    
{% endblock %}

{% block js %}{% endblock %}