{% extends "base.html" %}

{% block css %}{% endblock %}

{% block main %}
    <div>
        <h1>Property Details</h1>

        {% include 'flash_messages.html' %}

        <div class="row">
            <!-- Image on the left -->
            <div class="col-lg-6">
                <div class="view overlay">
                    <img class="img-fluid" src="{{ property.photo }}" alt="{{ property.title }}">
                </div>
            </div>

            <!-- Text on the right -->
            <div class="col-lg-6">
                <h2>{{ property.title }}</h2>
                <p>{{ property.description }}</p>
                <p>Bedrooms: {{ property.noOfRooms }}</p>
                <p>Bathrooms: {{ property.noOfBathrooms }}</p>
                <p>Location: {{ property.location }}</p>
                <p>Price: {{ property.price }}</p>
                <p>Type: {{ property.propertyType }}</p>
                <a href="mailto:realtor@example.com" class="btn btn-primary">Email Realtor</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}{% endblock %}